body {
	background-color: #C58579;
	font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4 {
	font-family: 'Playfair Display', serif !important;
}

.index-head {
	background-color: #577FB0;
	color: white;
	height: 100px;
	padding: 10px;
}

#index-drop {
	padding-top:10px;
	color: #C58579;
}

.photo-box {
	width: 100%;
	height: 400px;
	background-image: url("../images/topography.jpeg");
	background-size: cover;
	clear: both;
}